doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title KGL Produce Management - Login
  link(rel='stylesheet' href='/css/login2.css')
.container
  h1 KGL Login
  form(action='/login' method='POST')
    label(for='username') Username
    input#username(type='text' name='username' )
    label(for='password') Password
    input#password(type='password' name='password')
    label(for='role') Role
    input#role(type='role' name='role' placeholder='your role')
    button(type='submit') Login
