.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: lightsalmon;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="datetime-local"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: black;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #218838;
}

.error {
    color: red;
    font-size: 0.9em;
}
.navbar bg-body-tertiary fixed-top{
    background-color: #333;
    color: lightblue;
    padding: 10px;
}
body {
    background-image: url('/images/p13.jpeg'); /* Replace with your actual image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header { background-color:black; color: lightsalmon; padding: 10px 10px; text-align: center; }
nav { display: flex; justify-content: center; background-color: #333; }
nav a { color: lightsalmon; padding: 14px 20px; text-decoration: none; text-align: center; }
nav a:hover { background-color: #ddd; color: black; }
