body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url("images/p13.jpeg");
}

/* Header styling */
header {
    background-color:  lightsalmon;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

/* Form container */
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: lightsalmon;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Form inputs and buttons */
form input, form select {
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    padding: 10px;
    background-color:  lightsalmon;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

form button:hover {
    background-color: #003060;
}

/* Error message styling */
.error-message {
    color: red;
    font-size: 14px;
    display: none;
    margin-top: -10px;
    margin-bottom: 10px;
}